<!DOCTYPE html> <!-- page html -->
<html lang="fr"> 

<head>  <!-- infos de configuration de la page -->
    <meta charset="UTF-8">
    <title>Portfolio generator</title>
    <link rel="stylesheet" href="/styles/style.css">

    <!-- JavaScript -->
    <script> 
        let experiences = [];
        let editingExperienceIndex = null;
        let formations = [];
        let editingFormationIndex = null;
        let skills = [];
        let editingSkillsIndex = null;
        let books = [];
        let editingBooksIndex = null;

        // Experiences
        function finalizeExperience() {
            const job = document.getElementById("job").value; // cherche valeur de id = job
            const company = document.getElementById("company").value; 
            const start = document.getElementById("exp_start").value;
            const end = document.getElementById("exp_end").value;
            const description = document.getElementById("exp_desc").value;
            
            const experiencedata = {
                job: job,
                company: company,
                start: start,
                end: end,
                description: description
            };

            if (editingExperienceIndex === null) {
                experiences.push(experiencedata);

            } else {
                experiences[editingExperienceIndex] = experiencedata;
                editingExperienceIndex = null;
            }

            clearExperienceForm();
            showExperience();
            syncExperienceHiddenFields();
        }
        

        function showExperience() {
            const container = document.getElementById("experience-list");
            container.innerHTML = ""; // efface les valeurs presentes

            experiences.forEach((exp, index) => { // boucle sur les experiences enregistrées
                container.innerHTML += `
                    <div>
                        <p><strong>${exp.job}</strong> - ${exp.company} (${exp.start} - ${exp.end})</p>
                        <p>${exp.description}</p>

                        <button type="button" onclick="editExperience(${index})">Modify</button>
                        <button type="button" onclick="deleteExperience(${index})">Delete</button>
                    </div>
                `;
            });
        }


        function editExperience(index) {
            const exp = experiences[index];

            document.getElementById("job").value = exp.job;
            document.getElementById("company").value = exp.company;
            document.getElementById("exp_start").value = exp.start;
            document.getElementById("exp_end").value = exp.end;
            document.getElementById("exp_desc").value = exp.description;

            editingExperienceIndex = index;
        }


        function deleteExperience(index) {
            experiences.splice(index, 1); // supprime l'element a position "index"

            if (editingExperienceIndex === index) {
                editingExperienceIndex = null;
                clearExperienceForm();
            }

            showExperience();
            syncExperienceHiddenFields();
        }


        function clearExperienceForm() {
            document.getElementById("job").value = "";
            document.getElementById("company").value = "";
            document.getElementById("exp_start").value = "";
            document.getElementById("exp_end").value = "";
            document.getElementById("exp_desc").value = "";
        }


        function syncExperienceHiddenFields() {
            const hiddenContainer = document.getElementById("experience-hidden-fields");
            hiddenContainer.innerHTML = "";

            experiences.forEach((exp, index) => {
                hiddenContainer.innerHTML += `
                    <input type="hidden" name="job_${index}" value="${exp.job}">
                    <input type="hidden" name="company_${index}" value="${exp.company}">
                    <input type="hidden" name="exp_start_${index}" value="${exp.start}">
                    <input type="hidden" name="exp_end_${index}" value="${exp.end}">
                    <input type="hidden" name="exp_desc_${index}" value="${exp.description}">
                `;
            });
        }


        // Formations
        function finalizeFormation() {
            const formation = document.getElementById("formation").value;
            const university = document.getElementById("university").value;
            const start = document.getElementById("form_start").value;
            const end = document.getElementById("form_end").value;
            const description = document.getElementById("form_desc").value;

            const formationData = {
                formation: formation,
                university: university,
                start: start,
                end: end,
                description: description
            };

            if (editingFormationIndex === null) {
                formations.push(formationData);

            } else {
                formations[editingFormationIndex] = formationData;
                editingFormationIndex = null;
            }

            clearFormationForm();
            showFormation();
            syncFormationHiddenFields();
        }


        function showFormation() {
            const container = document.getElementById("formation-list");
            container.innerHTML = "";

            formations.forEach((form, index) => {
                container.innerHTML += `
                    <div>
                        <p><strong>${form.formation}</strong> - ${form.university} (${form.start} - ${form.end})</p>
                        <p>${form.description}</p>

                        <button type="button" onclick="editFormation(${index})">Modify</button>
                        <button type="button" onclick="deleteFormation(${index})">Delete</button>
                    </div>
                `;
            });
        }


        function editFormation(index) {
            const form = formations[index];

            document.getElementById("formation").value = form.formation;
            document.getElementById("university").value = form.university;
            document.getElementById("form_start").value = form.start;
            document.getElementById("form_end").value = form.end;
            document.getElementById("form_desc").value = form.description;

            editingFormationIndex = index;
        }


        function deleteFormation(index) {
            formations.splice(index, 1);

            if (editingFormationIndex === index) {
                editingFormationIndex = null;
                clearFormationForm();
            }

            showFormation();
            syncFormationHiddenFields();
        }


        function clearFormationForm() {
            document.getElementById("formation").value = "";
            document.getElementById("university").value = "";
            document.getElementById("form_start").value = "";
            document.getElementById("form_end").value = "";
            document.getElementById("form_desc").value = "";
        }


        function syncFormationHiddenFields() {
            const hiddenContainer = document.getElementById("formation-hidden-fields");
            hiddenContainer.innerHTML = "";

            formations.forEach((form, index) => {
                hiddenContainer.innerHTML += `
                    <input type="hidden" name="formation_${index}" value="${form.formation}">
                    <input type="hidden" name="university_${index}" value="${form.university}">
                    <input type="hidden" name="form_start_${index}" value="${form.start}">
                    <input type="hidden" name="form_end_${index}" value="${form.end}">
                    <input type="hidden" name="form_desc_${index}" value="${form.description}">
                `;
            });
        }

        // Skills
        function finalizeSkills() {
            const name = document.getElementById("name").value;
            const level = document.getElementById("level").value

            const skillsData = {
                name: name,
                level: level,
            };

            if (editingSkillsIndex === null) {
                skills.push(skillsData);

            } else {
                skills[editingSkillsIndex] = skillsData;
                editingSkillsIndex = null;
            }

            clearSkillsForm();
            showSkills();
            syncSkillsHiddenFields();
            
        }

        function clearSkillsForm() {
            document.getElementById("name").value = "";
            document.getElementById("level").value = "";
        }


        function showSkills() {
            const container = document.getElementById("skills-list");
            container.innerHTML = "";

            skills.forEach((skills, index) => {
                container.innerHTML += `
                    <div>
                        <p><strong>${skills.name}</strong> - ${skills.level}</p>
                        <p>${skills.description}</p>

                        <button type="button" onclick="editSkills(${index})">Modify</button>
                        <button type="button" onclick="deleteSkills(${index})">Delete</button>
                    </div>
                `;
            });
        }

        function editSkills(index) {
            const sk = skills[index]

            document.getElementById("name").value = sk.name;
            document.getElementById("level").value = sk.level;

            editingSkillsIndex = index;
        }

        function deleteSkills(index) {
            skills.splice(index, 1);

            if (editingSkillsIndex === index) {
                editingSkillsIndex = null;
                clearSkillsForm();
            }
            showSkills();
            
        }

        function syncSkillsHiddenFields() {
            const hiddenContainer = document.getElementById("skills-hidden-fields");
            hiddenContainer.innerHTML = "";

            skills.forEach((skill, index) => {
                hiddenContainer.innerHTML += `
                    <input type="hidden" name="name_${index}" value="${skill.name}">
                    <input type="hidden" name="level_${index}" value="${skill.level}">
                `;
            });
        }


        // Book
        function finalizeBook() {
            const photo = document.getElementById("photo").value;

            const BookData = {
                photo: photo,
            };

            if (editingBooksIndex === null) {
                books.push(BookData);

            } else {
                books[editingBooksIndex] = BookData;
                editingBooksIndex = null;
            }

            clearBookForm();
            showBook();
            syncBookHiddenFields();
        }


        function clearBookForm() {
            document.getElementById("photo").value = "";
        }


        function showBook() {
            const container = document.getElementById("books-list");
            container.innerHTML = "";

            books.forEach((book, index) => {
                container.innerHTML += `
                    <div>
                        <p><strong>${book.photo}</strong></p>

                        <button type="button" onclick="editBooks(${index})">Modify</button>
                        <button type="button" onclick="deleteBooks(${index})">Delete</button>
                    </div>
                `;
            });
        }


        function editBooks(index) {
            const bk = books[index]

            document.getElementById("photo").value = bk.photo;

            editingBooksIndex = index;
        }


        function deleteBooks(index) {
            books.splice(index, 1); // supprime l'element a position "index"

            if (editingBooksIndex === index) {
                editingBooksIndex = null;
                clearBookForm();
            }

            showBook();
            syncBookHiddenFields();
        }


        function syncBookHiddenFields() {
            const hiddenContainer = document.getElementById("books-hidden-fields");
            hiddenContainer.innerHTML = "";

            books.forEach((bk, index) => {
                hiddenContainer.innerHTML += `
                    <input type="hidden" name="photo_${index}" value="${bk.photo}">
                `;
            });
        }


        

</script>
</head>


<!-- HTML -->
<body>
<h1>Create my portfolio</h1>
<form action="/generate" method="post">

    <h2>Personals informations</h2>
    <div id="personals-informations">
        <input name="firstname" placeholder="Firstname" required><br>
        <input name="lastname" placeholder="Lastname" required><br>
        <input name="mail" placeholder="Mail"><br>
        <input name="phone" placeholder="Phone number"><br>
        <input name="linkedin" placeholder="Linkedin"><br>
    </div>


    <h2>Experiences</h2>
    <div id="experience-editor">
        <input id="job" placeholder="Job name"><br>
        <input id="company" placeholder="Company"><br>
        <input type="date" id="exp_start"><br>
        <input type="date" id="exp_end"><br>
        <textarea id="exp_desc" placeholder="Description"></textarea><br>
        
        <button type="button" onclick="finalizeExperience()">Add an experience</button>
    </div>
    
    <div id="experience-list"></div>  <!-- zone vide remplie apres -->
    <div id="experience-hidden-fields"></div>
    
    
    <h2>Formations</h2>
    <div id="formation-editor">
        <input id="formation" placeholder="Formation type"><br>
        <input id="university" placeholder="University"><br>
        <input type="date" id="form_start"><br>
        <input type="date" id="form_end"><br>
        <textarea id="form_desc" placeholder="Description"></textarea><br>
        
        <button type="button" onclick="finalizeFormation()">Add a formation</button>
    </div>
    <div id="formation-list"></div>
    <div id="formation-hidden-fields"></div>


    <h2>Skills</h2>
    <div id="skills-editor">
        <input id="name" placeholder="Skill name"><br>
        <input id="level" placeholder="Skill level"><br>

        <button type="button" onclick="finalizeSkills()">Add a skill</button>
    </div>
    <div id="skills-list"></div>
    <div id="skills-hidden-fields"></div>
    

    <h2>Book</h2>
    <div id="book-editor">
        <input id="photo" placeholder="Photo type"><br>

        <button type="button" onclick="finalizeBook()">Add a book</button>
    </div>
    <div id="books-list"></div>
    <div id="books-hidden-fields"></div>

    <br><br>
    <button type="submit">Create the Portfolio</button>
</form>

</body>
</html>




Concernant le portofolio, derriere chose faite, c "skills" dans 
le form.html on avait finit de créer les fonctions concernant cette table. 
Maintenant vérifier que tu sois correct dans le form et ensuite suivre les modifications/ajouts dans les autres fichiers 
(suivre lordre definit par IA) avant de repasser a la derniere table et ensuite reprendre si le temps le fronted. 