<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Portfolio generator</title>
    <script>
        let expCount = 0;
        let formCount = 0;

        function addExperience() {
            document.getElementById("experiences").innerHTML += `
                <div>
                    <input name="job_${expCount}" placeholder="Job">
                    <input name="company_${expCount}" placeholder="Company">
                    <input name="exp_start_${expCount}" placeholder="Date start">
                    <input name="exp_end_${expCount}" placeholder="Date end">
                    <textarea name="exp_desc_${expCount}" placeholder="Description"></textarea>
                </div>
            `;
            expCount++;
        }

        function addFormation() {
            document.getElementById("formations").innerHTML += `
                <div>
                    <input name="formation_${formCount}" placeholder="Formation type">
                    <input name="institution_${formCount}" placeholder="Institution">
                    <input name="form_start_${formCount}" placeholder="Start year">
                    <input name="form_end_${formCount}" placeholder="End year">
                    <textarea name="form_desc_${formCount}" placeholder="Description"></textarea>
                </div>
            `;
            formCount++;
        }
    </script>
</head>
<body>

<h1>Create my portfolio</h1>

<form action="/generate" method="post">

    <h2>Personals informations</h2>
    <input name="firstname" placeholder="Firstname" required><br>
    <input name="name" placeholder="Name" required><br>
    <input name="mail" placeholder="Mail"><br>
    <input name="phone" placeholder="Phone number"><br>

    <h2>Experiences</h2>
    <div id="experiences"></div>
    <button type="button" onclick="addExperience()">+ Ajouter une expérience</button>

    <h2>Formations</h2>
    <div id="formations"></div>
    <button type="button" onclick="addFormation()">+ Ajouter une formation</button>

    <br><br>
    <button type="submit">Générer le CV</button>
</form>

</body>
</html>